QMainWindow#MainWindow{
background-color: #EEEEF2;
}

QWidget#centralWidget{
background-color: #f2f2f6;
}
/*titlebar*/
QWidget#titlebar{
background-color: #e5e5e9;
border: 0;
}

QPushButton#appIcon:!hover {
background-color: #e5e5e9;
border: 0;
}

QPushButton#appIcon:hover {
background-color: #e5e5e9;
border: 0;
}

QLabel#appName{
background-color: #e5e5e9;
border: 0;
}

QToolButton#minimize:!hover {
background-color: #e5e5e9;
border: 0;
}

QToolButton#minimize:hover {
background-color: #d6d6da;
border: 1px solid #e5e5e9;
}

QToolButton#maximize:!hover {
background-color: #e5e5e9;
border: 0;
}

QToolButton#maximize:hover {
background-color: #d6d6da;
border: 1px solid #e5e5e9;
}

QToolButton#exit:!hover {
background-color: #e5e5e9;
border: 0;
}

QToolButton#exit:hover {
background-color: #ce0b00;
border: 1px solid #e5e5e9;
}

/*main*/
QWidget#mainPage{
background-color: #EEEEF2;
}

QWidget#mainArea{
background-color: #EEEEF2;
}

QLabel#imageWindow{
background-color: rgb(222, 222, 227);
border: 0;
}

QSlider#pixelizationLevelSlider::groove:horizontal {
border: 0;
background-color: rgb(125, 125, 125);
height: 3px;
border-radius: 4px;
}

QSlider#pixelizationLevelSlider::sub-page:horizontal {
background-color: #608DFF;
border: 0;
border-radius: 4px;
}

QSlider#pixelizationLevelSlider::add-page:horizontal {
border: 0;
border-radius: 4px;
}

QSlider#pixelizationLevelSlider::handle:horizontal {
background: #608DFF;
border: 0;
width: 8px;
height: 18px;
margin-top: -10px;
margin-bottom: -10px;
border-radius: 4px;
}

QPushButton#chooseBtn:!hover {
background-color: rgb(222, 222, 227);
border: 0;
}

QPushButton#chooseBtn:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QPushButton#saveBtn:!hover {
background-color: rgb(222, 222, 227);
border: 0;
}

QPushButton#saveBtn:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QWidget#sidebar{
    background-color: rgb(222, 222, 227);
}

QPushButton#home:!hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QPushButton#home:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QPushButton#settings:!hover {
background-color: rgb(222, 222, 227);
border: 0;
}

QPushButton#settings:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

/*settings*/
QWidget#settingsPage{
background-color: #EEEEF2;
}

QWidget#settingsWindow{
background-color: rgb(222, 222, 227);
}

QWidget#settingsSidebar{
background-color: rgb(222, 222, 227);
}

QPushButton#settingsHome:!hover {
background-color: rgb(222, 222, 227);
border: 0;
}

QPushButton#settingsHome:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QPushButton#settingsSettings:!hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QPushButton#settingsSettings:hover {
background-color: rgb(210, 208, 208);
border: 0;
}

QLabel#theme{
background-color: rgb(222, 222, 227);
}

QCheckBox#checkBoxTheme{
background-color: rgb(222, 222, 227);
}

QLabel#about{
background-color: rgb(222, 222, 227);
}

QLabel#aboutText{
background-color: rgb(222, 222, 227);
}

QLabel#aboutLink{
background-color: rgb(222, 222, 227);
}
